
@model IEnumerable<HotelApp.Database.RoomImages>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center"> Room Images</h1>

<div id="view-all">
    @await Html.PartialAsync("_RoomImagesPartial", Model)
</div>